*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-size: 1.3rem;
}

.card {
    background: white;
    border: 2px solid #58131368;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.img img {
    width: 100%;
    border-radius: 4px;
}

.img p {
    margin-top: 10px;
    font-size: 18px;
    color: #666;
}